Repository Azure/communication-ui-library-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling] Gradle update (#1142)
  azure-communication-ui/build.gradle
  azure-communication-ui/calling/build.gradle
  azure-communication-ui/calling/src/main/AndroidManifest.xml
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/CallCompositeActivity.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingFragment.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/SetupFragment.kt
  azure-communication-ui/chat/build.gradle
  azure-communication-ui/chat/src/main/AndroidManifest.xml
  azure-communication-ui/demo-app/build.gradle
  azure-communication-ui/demo-app/src/call-with-chat/AndroidManifest.xml
  azure-communication-ui/demo-app/src/calling/AndroidManifest.xml
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallLauncherActivity.kt
  azure-communication-ui/demo-app/src/chat/AndroidManifest.xml
  azure-communication-ui/demo-app/src/main/AndroidManifest.xml
  azure-communication-ui/gradle.properties
  azure-communication-ui/gradle/wrapper/gradle-wrapper.properties
  eng/pipelines/ci.yml
  eng/pipelines/deployAPK.yml
  eng/pipelines/release.yml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Bugfix] Font size responsive drawer
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_bottom_drawer_cell.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

style check
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/utilities/implementation/CompositeDrawerDialog.java
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Add comments
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/utilities/implementation/CompositeDrawerDialog.java
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Use View class
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/utilities/implementation/CompositeDrawerDialog.java
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update comments
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/utilities/implementation/CompositeDrawerDialog.java
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Fix color ratio for accessibility
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/SetupFragment.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/components/SetupControlBarView.kt
  azure-communication-ui/calling/src/main/res/color/azure_communication_ui_calling_primary_selector.xml
  azure-communication-ui/calling/src/main/res/color/azure_communication_ui_calling_toggle_selector.xml
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_image_button.xml
  azure-communication-ui/calling/src/main/res/layout-sw600dp/azure_communication_ui_calling_fragment_setup.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_control_bar_view.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_control_bar_view_tablet.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_fragment_setup.xml
  azure-communication-ui/calling/src/main/res/values/azure_communication_ui_calling_theme_attrs.xml
  azure-communication-ui/calling/src/main/res/values/azure_communication_ui_calling_themes.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Fix broken link in contribution guide
  docs/contributing-guide.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Update contributing-guide.md
  docs/contributing-guide.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Bugfix] Focused buttons color ratio
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/SetupFragment.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/components/SetupControlBarView.kt
  azure-communication-ui/calling/src/main/res/color/azure_communication_ui_calling_primary_selector.xml
  azure-communication-ui/calling/src/main/res/color/azure_communication_ui_calling_toggle_selector.xml
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_image_button.xml
  azure-communication-ui/calling/src/main/res/layout-sw600dp/azure_communication_ui_calling_fragment_setup.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_control_bar_view.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_control_bar_view_tablet.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_fragment_setup.xml
  azure-communication-ui/calling/src/main/res/values/azure_communication_ui_calling_theme_attrs.xml
  azure-communication-ui/calling/src/main/res/values/azure_communication_ui_calling_themes.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Do not truncate RTT hint
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/captions/CaptionsRttView.kt
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_captions.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Resolve runtime crash with the DemoApp when launching chat
  azure-communication-ui/demo-app/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Bugfix] RTT hint is truncate
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/captions/CaptionsRttView.kt
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_captions.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Make text accessible
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_support_view.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Chat] Resolve runtime crash with the DemoApp when launching chat (#1147)
  azure-communication-ui/demo-app/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Fix keyboard focus navigation on the setup screen header
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/SetupFragment.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/components/ToolbarView.kt
  azure-communication-ui/calling/src/main/res/layout-sw600dp/azure_communication_ui_calling_fragment_setup.xml
  azure-communication-ui/calling/src/main/res/layout-sw600dp/azure_communication_ui_calling_toolbar.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_fragment_setup.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_toolbar.xml
  azure-communication-ui/calling/src/main/res/values-land/azure_communication_ui_calling_dimens.xml
  azure-communication-ui/calling/src/main/res/values-sw600dp/azure_communication_ui_calling_dimens.xml
  azure-communication-ui/calling/src/main/res/values/azure_communication_ui_calling_dimens.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Bugfix] Report issue accessible text
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_support_view.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update SDK version
  azure-communication-ui/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Bugfix] Setup header keyboard navigation
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/SetupFragment.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/components/ToolbarView.kt
  azure-communication-ui/calling/src/main/res/layout-sw600dp/azure_communication_ui_calling_fragment_setup.xml
  azure-communication-ui/calling/src/main/res/layout-sw600dp/azure_communication_ui_calling_toolbar.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_fragment_setup.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_toolbar.xml
  azure-communication-ui/calling/src/main/res/values-land/azure_communication_ui_calling_dimens.xml
  azure-communication-ui/calling/src/main/res/values-sw600dp/azure_communication_ui_calling_dimens.xml
  azure-communication-ui/calling/src/main/res/values/azure_communication_ui_calling_dimens.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling] Update sdk version
  azure-communication-ui/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

add language mapping 20250219.1
  azure-communication-ui/calling/src/main/res/values-ar-rSA/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de-rDE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es-rES/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fi-rFI/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr-rFR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it-rIT/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja-rJP/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nb-rNO/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl-rNL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr-rTR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr/azure_communication_ui_calling_strings.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Localization] Update localizations
  azure-communication-ui/calling/src/main/res/values-ar-rSA/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de-rDE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es-rES/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fi-rFI/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr-rFR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it-rIT/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja-rJP/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nb-rNO/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl-rNL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr-rTR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr/azure_communication_ui_calling_strings.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update fluent
  azure-communication-ui/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Update chat dependency
  azure-communication-ui/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

show keyboard when starup chat screen
  azure-communication-ui/chat/src/main/java/com/azure/android/communication/ui/chat/models/ChatCompositeSupportedLocale.java
  azure-communication-ui/chat/src/main/java/com/azure/android/communication/ui/chat/presentation/ui/chat/components/MessageInputView.kt
Owners: @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Update chat dependency (#1152)
  azure-communication-ui/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

show keyboard when startup chat screen - adapter buider
  azure-communication-ui/chat/src/main/java/com/azure/android/communication/ui/chat/ChatAdapter.java
  azure-communication-ui/chat/src/main/java/com/azure/android/communication/ui/chat/ChatAdapterBuilder.java
  azure-communication-ui/chat/src/main/java/com/azure/android/communication/ui/chat/presentation/ui/chat/components/BottomBarView.kt
  azure-communication-ui/chat/src/main/java/com/azure/android/communication/ui/chat/presentation/ui/chat/screens/ChatScreen.kt
  azure-communication-ui/chat/src/main/java/com/azure/android/communication/ui/chat/presentation/ui/chat/screens/NavigatableBaseScreen.kt
  azure-communication-ui/chat/src/main/java/com/azure/android/communication/ui/chat/presentation/ui/container/ChatCompositeViewImpl.kt
  azure-communication-ui/gradle/wrapper/gradle-wrapper.jar
  azure-communication-ui/gradle/wrapper/gradle-wrapper.properties
  azure-communication-ui/gradlew
  azure-communication-ui/gradlew.bat
Owners: @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2, @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update version chat-1.0.0-beta.4
  azure-communication-ui/build.gradle
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeSupportedLocale.java
  azure-communication-ui/chat/publish.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

audio refactoring
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/AudioDeviceAction.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/AudioDeviceReducer.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioDevice.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioDeviceState.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioDeviceType.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/AudioDeviceService.java
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/reducer/AudioDeviceReducerTest.java
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/service/AudioDeviceServiceTest.java
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

bluetooth/audio device refactoring
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/AudioDeviceAction.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/AudioDeviceMiddleware.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/AudioDeviceMiddleware.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/AudioDeviceServiceMiddleware.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/AudioDeviceReducer.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioDeviceState.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioDeviceSwitchingState.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/AudioDeviceService.java
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/AudioDeviceMiddlewareTest.java
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/AudioDeviceMiddlewareTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/reducer/AudioDeviceReducerTest.java
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

refactoring towards redux more
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/AudioFocusManager.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/AudioModeManager.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/AudioSessionManager.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/AudioFocusAction.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/AudioModeAction.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/AudioFocusMiddleware.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/AudioModeMiddleware.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/AudioFocusReducer.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/AudioModeReducer.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioFocusState.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioFocusStatus.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioMode.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioModeState.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AudioState.java
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/AudioFocusMiddlewareTest.java
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/AudioModeMiddlewareTest.java
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/reducer/AudioFocusReducerTest.java
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/reducer/AudioModeReducerTest.java
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Fix error message
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/components/ErrorInfoView.kt
  azure-communication-ui/calling/src/main/res/values-ar-rSA/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de-rDE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-en-rGB/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-en-rUS/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es-rES/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fi-rFI/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr-rFR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it-rIT/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-iw-rIL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja-rJP/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ko-rKR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ko/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nb-rNO/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl-rNL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pl-rPL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pt-rBR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pt/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ru-rRU/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ru/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-sv-rSE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr-rTR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh-rCN/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh-rTW/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values/azure_communication_ui_calling_strings.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

add language mapping 20250318.1
  azure-communication-ui/calling/src/main/res/values-ar-rSA/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de-rDE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es-rES/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fi-rFI/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr-rFR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it-rIT/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-iw-rIL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja-rJP/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ko-rKR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ko/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nb-rNO/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl-rNL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pl-rPL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pt-rBR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pt/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ru-rRU/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ru/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-sv-rSE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr-rTR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh-rCN/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh-rTW/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh/azure_communication_ui_calling_strings.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

add language mapping 20250328.1
  azure-communication-ui/calling/src/main/res/values-ar-rSA/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de-rDE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es-rES/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fi-rFI/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr-rFR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it-rIT/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-iw-rIL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja-rJP/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ko-rKR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ko/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nb-rNO/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl-rNL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pl-rPL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pt-rBR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pt/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ru-rRU/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ru/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-sv-rSE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr-rTR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh-rCN/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh-rTW/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh/azure_communication_ui_calling_strings.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Bugfix] Adjust error message (#1156)
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/setup/components/ErrorInfoView.kt
  azure-communication-ui/calling/src/main/res/values-ar-rSA/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de-rDE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-de/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-en-rGB/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-en-rUS/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es-rES/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-es/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fi-rFI/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr-rFR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-fr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it-rIT/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-it/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-iw-rIL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja-rJP/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ja/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ko-rKR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ko/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nb-rNO/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl-rNL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-nl/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pl-rPL/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pt-rBR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-pt/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ru-rRU/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-ru/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-sv-rSE/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr-rTR/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-tr/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh-rCN/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh-rTW/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values-zh/azure_communication_ui_calling_strings.xml
  azure-communication-ui/calling/src/main/res/values/azure_communication_ui_calling_strings.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

test scaffolding
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CallingMiddlewareActionHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CameraSwitchingFix.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CameraSwitchingAfterBackgroundTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CameraSwitchingHandlerTest.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

adding mockk
  azure-communication-ui/build.gradle
  azure-communication-ui/calling/build.gradle
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CameraSwitchingAfterBackgroundTest.kt
  azure-communication-ui/chat/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Remove mockk dependency from build.gradle
  azure-communication-ui/chat/build.gradle
Owners: @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

App crashes if a fresh User taps register push
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/CallComposite.java
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallCompositeManager.kt
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallLauncherActivity.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Bugfix] App crashes if a fresh User taps on "Register push" button before joining a call (#1159)
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/CallComposite.java
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallCompositeManager.kt
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallLauncherActivity.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format:
 # https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

 # These owners will be the default owners for everything in the repository unless a later match takes precedencet.
 *                                                           @Azure/acs-ui-mobile-calling-reviewer-1 @Azure/acs-ui-mobile-calling-reviewer-2 @Azure/acs-ui-mobile-chat-reviewer-1 @Azure/acs-ui-mobile-chat-reviewer-2

 # azure-communication-ui-calling
 /azure-communication-ui/calling/                            @Azure/acs-ui-mobile-calling-reviewer-1 @Azure/acs-ui-mobile-calling-reviewer-2
 /azure-communication-ui/demo-app/src/calling/               @Azure/acs-ui-mobile-calling-reviewer-1 @Azure/acs-ui-mobile-calling-reviewer-2

 # azure-communication-ui-chat
 /azure-communication-ui/chat/                               @Azure/acs-ui-mobile-chat-reviewer-1 @Azure/acs-ui-mobile-chat-reviewer-2
 /azure-communication-ui/demo-app/src/chat/                  @Azure/acs-ui-mobile-chat-reviewer-1 @Azure/acs-ui-mobile-chat-reviewer-2
