Repository Azure/communication-ui-library-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format:
 # https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

 # These owners will be the default owners for everything in the repository unless a later match takes precedencet.
 *                                                           @Azure/acs-ui-mobile-calling-reviewer-1 @Azure/acs-ui-mobile-calling-reviewer-2 @Azure/acs-ui-mobile-chat-reviewer-1 @Azure/acs-ui-mobile-chat-reviewer-2

 # azure-communication-ui-calling
 /azure-communication-ui/calling/                            @Azure/acs-ui-mobile-calling-reviewer-1 @Azure/acs-ui-mobile-calling-reviewer-2
 /azure-communication-ui/demo-app/src/calling/               @Azure/acs-ui-mobile-calling-reviewer-1 @Azure/acs-ui-mobile-calling-reviewer-2

 # azure-communication-ui-chat
 /azure-communication-ui/chat/                               @Azure/acs-ui-mobile-chat-reviewer-1 @Azure/acs-ui-mobile-chat-reviewer-2
 /azure-communication-ui/demo-app/src/chat/                  @Azure/acs-ui-mobile-chat-reviewer-1 @Azure/acs-ui-mobile-chat-reviewer-2

update the icon color
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_ic_fluent_arrow_maximize_20_regular.xml
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_ic_fluent_arrow_minimize_20_regular.xml
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_ic_fluent_closed_caption_24_regular_color.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[ReadMe] Updating telemetry disclosure
  README.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Update the color
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_ic_fluent_closed_caption_off_24_regular.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_captions.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update the background
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/controlbar/captions/CaptionsListView.kt
  azure-communication-ui/calling/src/main/res/layout-sw600dp/azure_communication_ui_calling_call_header.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_bottom_drawer_cell.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_bottom_drawer_centered_title_cell.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_call_header.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_captions_item_view.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Bug] Update the Icon color for accessibility(#1172)
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/controlbar/captions/CaptionsListView.kt
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_ic_fluent_arrow_maximize_20_regular.xml
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_ic_fluent_arrow_minimize_20_regular.xml
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_ic_fluent_closed_caption_24_regular_color.xml
  azure-communication-ui/calling/src/main/res/drawable/azure_communication_ui_calling_ic_fluent_closed_caption_off_24_regular.xml
  azure-communication-ui/calling/src/main/res/layout-sw600dp/azure_communication_ui_calling_call_header.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_bottom_drawer_cell.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_bottom_drawer_centered_title_cell.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_call_header.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_captions.xml
  azure-communication-ui/calling/src/main/res/layout/azure_communication_ui_calling_captions_item_view.xml
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update version
  azure-communication-ui/build.gradle
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Update changelog
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

disable beta feature
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/BaseUiTest.kt
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/mocking/TestCallingSDK.kt
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/ui/calling/CustomInfoHeaderTest.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/CallComposite.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/configuration/events/CallCompositeEventsHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeCallScreenHeaderViewData.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeExtensions.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/UpdatableOptionsManager.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/CallScreenInfoHeaderAction.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/CallingAction.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CallingMiddlewareActionHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/CallScreenInfoHeaderReducer.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/CallingReducer.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AppReduxState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/CallScreenInfoHeaderState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/CallingState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/CallingService.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDK.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDKEventHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDKWrapper.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModelUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderViewModelUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CallingMiddlewareActionHandlerUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/reducer/CallScreenInfoHeaderReducerUnitTest.kt
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallCompositeManager.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Release][Calling] Increment version, update changelog (#1174)
  azure-communication-ui/build.gradle
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/BaseUiTest.kt
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/mocking/TestCallingSDK.kt
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/ui/calling/CustomInfoHeaderTest.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/CallComposite.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/configuration/events/CallCompositeEventsHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeCallScreenHeaderViewData.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeExtensions.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/UpdatableOptionsManager.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/CallScreenInfoHeaderAction.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/CallingAction.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CallingMiddlewareActionHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/CallScreenInfoHeaderReducer.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/CallingReducer.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AppReduxState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/CallScreenInfoHeaderState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/CallingState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/CallingService.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDK.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDKEventHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDKWrapper.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModelUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderViewModelUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CallingMiddlewareActionHandlerUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/reducer/CallScreenInfoHeaderReducerUnitTest.kt
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallCompositeManager.kt
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Bug] Fix dialog background
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/controlbar/captions/CaptionsListView.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Refactor] Increment version, update changelog
  azure-communication-ui/build.gradle
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Update the version
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/controlbar/captions/CaptionsListView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/hangup/LeaveConfirmView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/support/SupportView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/utilities/implementation/CompositeDrawerDialog.java
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Release]Update the changelog and version
  azure-communication-ui/build.gradle
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Release] Update the changelog and version
  azure-communication-ui/build.gradle
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Bug] Fix the release format
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/controlbar/captions/CaptionsListView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/hangup/LeaveConfirmView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/support/SupportView.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Release] Update changelog date
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Update Calling README.md
  azure-communication-ui/calling/README.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update README.md
  azure-communication-ui/calling/README.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update README.md
  azure-communication-ui/calling/README.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update Chat README.md
  azure-communication-ui/chat/README.md
Owners: @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

ReadMe updates (#1178)
  azure-communication-ui/calling/README.md
  azure-communication-ui/chat/README.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

Update the logic
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDKEventHandler.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Bug] Fix dialog background
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/controlbar/captions/CaptionsListView.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Refactor] Update Changelog
  azure-communication-ui/build.gradle
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Bug] Fix the rejoin the call, remote participant issue (#1179)
  azure-communication-ui/build.gradle
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDKEventHandler.kt
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Refactor] Format code
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModel.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Refactor] Disable related test
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListViewModelUnitTest.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Add captions received event to CallComposite
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/CallComposite.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/configuration/events/CallCompositeEventsHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/di/DependencyInjectionContainerImpl.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeCaptionsReceivedEvent.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeExtensions.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/CaptionsRttDataManager.kt
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallCompositeManager.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Add ufm
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/CallComposite.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/configuration/events/CallCompositeEventsHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/di/DependencyInjectionContainerImpl.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeCaptionsReceivedEvent.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeExtensions.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/CaptionsRttDataManager.kt
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallCompositeManager.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Refactor] Update changelog and version
  azure-communication-ui/build.gradle
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Refactor] Update changelog
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Refactor] Update changelog and version
  azure-communication-ui/build.gradle
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2

[Calling][Refactor] Fix code format
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/hangup/LeaveConfirmView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participant/grid/ParticipantGridView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/support/SupportView.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Refactor] Fix code format
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/hangup/LeaveConfirmView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participant/grid/ParticipantGridView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/support/SupportView.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Refactor] Fix code format
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListView.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Refactor] Fix code format
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListView.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

Update the captions rtt view
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/captions/CaptionsRttView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/hangup/LeaveConfirmView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/participantlist/ParticipantListView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/support/SupportView.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

updates for mic support
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/AudioSessionManager.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/presentation/manager/AudioSessionManagerUnitTests.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling]Enable beta feature in develop
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/BaseUiTest.kt
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/mocking/TestCallingSDK.kt
  azure-communication-ui/calling/src/androidTest/java/com/azure/android/communication/ui/calling/CustomInfoHeaderTest.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/CallComposite.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/configuration/events/CallCompositeEventsHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeCallScreenHeaderViewData.java
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/models/CallCompositeExtensions.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderView.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderViewModel.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/presentation/manager/UpdatableOptionsManager.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/CallScreenInfoHeaderAction.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/action/CallingAction.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CallingMiddlewareActionHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/CallScreenInfoHeaderReducer.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/reducer/CallingReducer.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/AppReduxState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/CallScreenInfoHeaderState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/redux/state/CallingState.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/CallingService.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDK.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDKEventHandler.kt
  azure-communication-ui/calling/src/main/java/com/azure/android/communication/ui/calling/service/sdk/CallingSDKWrapper.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/CallingViewModelUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/presentation/fragment/calling/header/InfoHeaderViewModelUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/middleware/handler/CallingMiddlewareActionHandlerUnitTest.kt
  azure-communication-ui/calling/src/test/java/com/azure/android/communication/ui/calling/redux/reducer/CallScreenInfoHeaderReducerUnitTest.kt
  azure-communication-ui/demo-app/src/calling/java/com/azure/android/communication/ui/callingcompositedemoapp/CallCompositeManager.kt
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2

[Calling][Release] update the version and changelog
  azure-communication-ui/build.gradle
  docs/CHANGELOG_UI_CALLING.md
Owners: @Azure/acs-ui-mobile-calling-reviewer-1, @Azure/acs-ui-mobile-calling-reviewer-2, @Azure/acs-ui-mobile-chat-reviewer-1, @Azure/acs-ui-mobile-chat-reviewer-2
